* {
  box-sizing: border-box;
  font-family: tahoma;
}
.container {
  min-height: 600px;
  padding: 20px;
  box-shadow: 0px 0px 3px silver;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_wrapper > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form_wrapper > form > div {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 350px;
  gap: 10px;
  box-shadow: 0px 0px 3px silver;
}
label {
  font-size: 16px;
}
label:hover {
  cursor: pointer;
}
input {
  height: 30px;
  padding-left: 3%;
  outline: none;
  border-radius: 3px;
}
input:focus {
  border: 2px solid rgb(10, 107, 217);
}
input::placeholder {
  color: red;
  padding-left: 3%;
}
button {
  padding: 5px;
}
.success:hover {
  background-color: rgba(87, 183, 96, 0.8);
}
.warning:hover {
  background-color: rgba(232, 21, 21, 0.7);
}
